In [1]:
import pandas as pd
import numpy as np

In [2]:
data= pd.read_csv('data//user_reviews_by_movies.csv',delimiter='|')
data.shape

(172187, 7)

In [3]:
movies = pd.DataFrame(data = data,columns=['user_id','token_name','user_rating'])
movies.shape

(172187, 3)

In [8]:
def filter_user_item_matrix(dataframe):
    """
    Function to filter the user-item dataframe with 5-cores i.e. each user have reviewed atleast 5 items and each item have atleast 5 user reviews.
    Arguments:
        dataframe: function takes a dataframe with user_id, item_id and user_rating info
    Return:
        A filtered dataframe.
    """
    while True:
        if dataframe.user_id.value_counts()[-1:][0] >5:
            #print(True)
            if dataframe.item_id.value_counts()[-1:][0] >5:
                #print(True)
                break
            else:
                #print(False)
                index = dataframe.index[dataframe.groupby('item_id')['user_id'].transform('count') > 5]
                dataframe = dataframe.loc[index,]
        else:
            #print(False)
            index = dataframe.index[dataframe.groupby('user_id')['item_id'].transform('count') > 5]
            dataframe = dataframe.loc[index,]
    return(dataframe)

In [9]:
movies = filter_user_item_matrix(movies)

In [10]:
movies.shape

(102152, 3)

In [35]:
uid_dict = {}
ID='1111'
for user in movies.user_id.unique():
    uid_dict[user] = ID
    ID=str(int(ID)+1)
ID='1111'
itemid_dict={}
for item in movies.token_name.unique():
    itemid_dict[item] = ID
    ID=str(int(ID)+1)

In [43]:
for index,row in movies.iterrows():
    user = row['user_id']
    item = row['token_name']
    row['uid'] = uid_dict[user]
    row['itemId'] = itemid_dict[item]

In [21]:
for index in movies.index:
    user = movies.loc[index,'user_id']
    item = movies.loc[index,'token_name']
    movies.loc[index,'uid'] = uid_dict[user]
    movies.loc[index,'itemId'] = itemid_dict[item]

In [49]:
movies.head(20)

           user_id     token_name  user_rating   uid  itemId
0            ilmi_   citizen-kane         10.0   1.0     1.0
1   GAMERGUYCASUAL   citizen-kane          6.0   2.0     1.0
3      JoseAngel47   citizen-kane          0.0   3.0     1.0
4          Jalumbi   citizen-kane          9.0   4.0     1.0
5      MasterRiley   citizen-kane         10.0   5.0     1.0
7         BeastJ18   citizen-kane         10.0   6.0     1.0
9           wiiy71   citizen-kane          8.0   7.0     1.0
10            22WZ   citizen-kane         10.0   8.0     1.0
11     KingCrasher   citizen-kane          8.0   9.0     1.0
12    hardcorekidd   citizen-kane         10.0  10.0     1.0
13   amheretojudge   citizen-kane          7.0  11.0     1.0
14         auburnn   citizen-kane          8.0  12.0     1.0
15     Scorsescock   citizen-kane         10.0  13.0     1.0
16         drone41   citizen-kane          8.0  14.0     1.0
17      FilipeNeto   citizen-kane          8.0  15.0     1.0
20      Fairbottom   citizen-kane          0.0  16.0     1.0
21    ReviewCritic  the-godfather         10.0  17.0     2.0
23        sinadoom  the-godfather          9.0  18.0     2.0
24      Annoymous1  the-godfather         10.0  19.0     2.0
25   joey-clemenza  the-godfather         10.0  20.0     2.0

In [2]:
d1 = pd.read_csv('data//tv1.csv',delimiter='|')
print(d1.shape)

(1880, 3)

In [3]:
d2 = pd.DataFrame()

In [7]:
d2 = pd.concat([d2,d1],axis=0)

In [8]:
d2.shape

(3760, 3)

In [6]:
d2 = pd.read_csv('data//tv2.csv',delimiter = '|')
print(d2.shape)

In [55]:
d = pd.concat([d1,d2],axis=0)
d.shape

(3760, 3)

In [9]:
d2.head()

          user_id                item_id  u_rating
0    moviebuffers       rectify/season-4      10.0
1     OlivierPiel       rectify/season-4      10.0
2  jim_taltontish       rectify/season-4       9.0
3         Spangle  breaking-bad/season-5      10.0
4       JCouch777  breaking-bad/season-5      10.0

In [11]:
d2.reset_index(inplace=True)
d2.tail()

      index          user_id                         item_id  u_rating
3755   1875  lukechristiansc                   dads/season-1       4.0
3756   1876           ChrisD  the-12-hour-news-hour/season-1       0.0
3757   1877           JamesM  the-12-hour-news-hour/season-1       0.0
3758   1878             JoeH  the-12-hour-news-hour/season-1       0.0
3759   1879           DavidH  the-12-hour-news-hour/season-1       1.0

In [33]:
d2[:0]

Empty DataFrame
Columns: [index, user_id, item_id, u_rating]
Index: []

In [29]:
results = pd.DataFrame(data = None,columns = [['k','rmse_cv','rmse_test']])

In [34]:
r = None

AttributeError: 'NoneType' object has no attribute 'append'

In [38]:
#results.loc[0]=1,2,4
results.loc[1]=1,2,4

In [39]:
results.head()

   k rmse_cv rmse_test
0  1       2         4
1  1       2         4

### Test surpriselib on built_in dataset